{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.apache.commons/commons-math3 {:mvn/version "3.6.1"}
        hato/hato {:mvn/version "1.0.0"}
        cheshire/cheshire {:mvn/version "6.1.0"}
        juxt/aero {:git/url "https://github.com/juxt/aero"
                   :git/sha "d9935ee611197e697310baff7f3a09d95a12b3e7"}
        org.clojure/core.memoize {:mvn/version "1.1.266"}}
 :aliases
 {:run-m {:main-opts ["-m" "fantasy-stats.main"]}
  :run-x {:ns-default fantasy-stats.fantasy-stats
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build
                 {:git/tag "v0.9.2" :git/sha "fe6b140"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :neil {:project {:name fantasy-stats/fantasy-stats}}}}
